*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #232222;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding: 20px 43px 0 16px;
}

.phone {
  margin-top: 11px;
}

.menu {
  margin-top: 16px;
}

.menu__list {
  display: flex;
}

.menu__item + .menu__item {
  margin-left: 30px;
}

.menu__link {
  text-transform: uppercase;
  font-weight: 500;
  color: #001e64;
  font-size: 18px;
  line-height: 21px;
}

.menu__link:hover {
  border-bottom: 1px solid #001e64;
}

.header__content {
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  margin-top: -100px;
  min-height: calc(100vh - 50px);
}

.title {
  font-family: "Roboto Slab", serif;
  color: #001e64;
  font-weight: 700;
  font-size: 72px;
  line-height: 94px;
  max-width: 589px;
  padding-top: 170px;
  padding-left: 112px;
  margin-bottom: 60px;
}

.header-slider {
  max-width: 522px;
  padding-left: 112px;
  padding-top: 57px;
  padding-bottom: 135px;
}

.header-slider__text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.header-arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: 40px;
}

.header-prev {
  top: 0;
}

.header-next {
  bottom: 0;
}

.slick-dots {
  list-style: none;
  position: absolute;
  left: 35px;
  top: 58px;
  bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slick-dots button {
  border: none;
  background-color: transparent;
  padding: 0;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  opacity: 0.5;
}

.slick-active button {
  opacity: 1;
}

.slick-dots button::before {
  content: "0";
}
.slick-dots li:nth-child(n + 10) button::before {
  content: "";
}

.header__content-btn {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 31px;
  color: #fff;
  padding: 14px 88px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 112px;
  display: inline-block;
  transform: translateY(-120px);
  position: absolute;
  transition: all 0.3s;
}
.header__content-btn:hover {
  background-color: #fff;
  color: #001e64;
}

.header__content-box {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.header__content-link--active {
  font-weight: 700;
}

.product {
  padding-top: 100px;
  padding-bottom: 30px;
}

.product__inner {
  display: flex;
  justify-content: space-between;
}
.product__name {
  width: 510px;
  text-align: center;
  padding-top: 41px;
}

.product-prev {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.product-arrow {
  border: none;
  background-color: transparent;
  padding: 0;
}

.product__name-item {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.product__name-item.slick-current {
  font-weight: 700;
  font-size: 36px;
  color: #001e64;
}
.product__name-item + .product__name-item {
  margin-top: 30px;
}
.product__content {
  width: 600px;
}
.product__content-box {
  display: flex;
  justify-content: space-between;
}
.product__content-img {
  /* object-fit: cover; */
}
.product__content-list {
  width: 291px;
  list-style: none;
}
.product__content-item {
  margin-bottom: 30px;
}
.product__content-item span {
  display: block;
  margin-bottom: 10px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 24px;
  color: #001e64;
}
.product__content-title {
  font-family: "Roboto Slab", serif;
  padding-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #001e64;
}
.product__content-text {
  margin-bottom: 25px;
}
.product__content-btn {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #001e64;
  padding: 12px 85px;
  border: 1px solid #001e64;
  border-radius: 20px;
  background-color: transparent;
  text-transform: uppercase;
  transition: all 0.3s;
}

.product__content-btn:hover {
  background-color: #001e64;
  color: #fff;
}

.seafood-box {
  background-image: url(../images/seafood-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 290px 0 95px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}
.seafood-box__items {
  display: flex;
  justify-content: space-around;
}

.seafood-box__item {
  width: 180px;
  min-height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/seafood-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.seafood {
  padding: 100px 0;
}
.seafood__items {
  margin-bottom: 100px;
}
.seafood__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.seafood__item-title {
  max-width: 490px;
  color: #001e64;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
}
.seafood__item-text {
  max-width: 420px;
  margin-bottom: 20px;
}

.seafood__item--text-right .seafood__item-title {
  max-width: 420px;
}

.seafood__item--text-right .seafood__item-content {
  margin-right: 180px;
}
.seafood__blockquote {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.seafood__blockquote-text {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 24px;
  max-width: 628px;
  margin: 0 auto;
}
.contacts {
  background-image: url(../images/contacts-img.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.contacts__box {
  margin-left: auto;
  max-width: 390px;
  background-color: #fff;
  padding: 33px 0 33px 20px;
}
.contacts__box-text {
  width: 195px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 24px;
  color: #001e64;
  margin-bottom: 30px;
}
.contacts__box-list {
  list-style: none;
  font-size: 18px;
  line-height: 21px;
}
.contacts__box-item {
  margin-top: 30px;
}
.contacts__box-item span {
  display: block;
}
.footer {
  padding: 25px 0 110px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 45px 0 23px;
}
.footer__inner .menu {
  padding-bottom: 30px;
}
.footer__inner .menu__link {
  color: #232222;
}
.footer-social__list {
  list-style: none;
  display: flex;
  align-items: center;
  padding-bottom: 19px;
}
.footer-social__item + .footer-social__item {
  margin-left: 10px;
}
.footer-social__link path {
  transition: all 0.3s;
}
.footer-social__link:hover path {
  fill: #001e64;
}

.menu__btn {
  display: none;
  width: 40px;
  border: none;
  background-color: transparent;
  padding: 13px 0;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.menu__btn::after,
.menu__btn::before {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #232222;
  left: 0;
  right: 0;
}
.menu__btn::after {
  top: 0;
}
.menu__btn::before {
  bottom: 0;
}
.menu__btn span {
  display: block;
  height: 4px;
  background-color: #232222;
}

@media (max-width: 1160px) {
  .product__name {
    width: 350px;
  }
  .footer .logo{
    display: none;
  }
  .footer .menu{
    display: none;
  }
  .footer{
    padding: 40px 0 40px;
  }
  .footer__inner{
    justify-content: center;
  }
  .footer-social__list {
    padding-bottom: 0;
}
}
@media (max-width: 1100px) {
  .seafood__item-content {
    padding-right: 20px;
  }
  .seafood img {
    object-fit: cover;
    max-width: 100%;
  }
  .seafood__item--text-right .seafood__item-content {
    margin-right: 0;
    width: 100%;
    padding-left: 20px;
  }
  /* seafood__item--text-right .seafood__item-content {
    padding-left: 20px;
  } */

  @media (max-width: 1000px) {
    .menu__list {
      position: absolute;
      left: 20%;
      right: 20%;
      background-color: #fff;
      display: block;
      top: -350px;
      transition: all 0.3s ease-in-out;
      z-index: 5;
    }
    .menu__list.menu__list--active {
      top: 50px;
    }
    .menu__btn {
      display: block;
    }
    .menu {
      margin: 12px 20px 0 auto;
    }
    .menu__item + .menu__item {
      margin-left: 0;
    }
    .menu__link {
      display: block;
      padding: 20px 0;
      text-align: center;
    }
    .menu__link:hover {
      border: none;
    }
    .product__name {
      width: 250px;
    }
  }
  @media (max-width: 950px) {
    .seafood {
      padding-top: 50px;
    }
    .seafood__item {
      flex-wrap: wrap;
      justify-content: center;
    }
    .seafood__item--text-right {
      flex-wrap: wrap-reverse;
    }
    .seafood__item-content {
      padding-right: 0;
    }
    .seafood__items {
      margin-bottom: 30px;
    }
  }

  .seafood__item-content {
    margin-right: 0;
    width: 100%;
  }

  .seafood__item-title,
  .seafood__item-text {
    max-width: 100%;
  }
}

@media (max-width: 1000px) {
  .title {
    font-size: 50px;
    line-height: 66px;
    padding-left: 0px;
    text-align: center;
    max-width: 100%;
  }
}
@media (max-width: 890px) {
  .product__inner {
    display: block;
  }
  .product__content {
    margin: 0 auto;
  }
  .product__name {
    width: 100%;
    padding-top: 0;
    margin-bottom: 80px;
  }
  .product__name-item + .product__name-item {
    margin-top: 0;
  }
  .product__name-item.slick-current {
    font-size: 30px;
  }
  .product__name .slick-dots {
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
  }
  .product__name .slick-dots button {
    width: 10px;
    height: 10px;
    font-size: 0;
    padding: 0;
    border-radius: 50%;
    background-color: #c4c4c4;
    margin: 0 5px;
  }
  .product__name .slick-active button {
    background-color: #001e64;
  }
}
@media (max-width: 650px) {
  .product__content {
    width: 100%;
  }
  .seafood-box {
    display: none;
  }
  .seafood-box__items {
    display: block;
  }
  .seafood-box__item {
    margin: 20px auto 20px;
  }
  .contacts {
    background-image: none;
  }
  .contacts__box {
    max-width: 100%;
    padding: 0;
  }
}
@media (max-width: 600px) {
  .product__content-box {
    display: block;
  }
  .product__content-list {
    width: 100%;
  }
}
@media (max-width: 470px) {
  .title {
    font-size: 34px;
    line-height: 44px;
  }
  .header-slider {
    padding-left: 50px;
  }
  .slick-dots {
    left: 5px;
  }
  .header-arrow {
    left: 9px;
  }
  .header__content-btn {
    margin-left: 50px;
    padding: 12px 60px;
    font-size: 20px;
  }
  .product {
    padding-top: 50px;
  }
  .product__content-btn {
    padding: 12px 55px;
  }
  .product__name-item.slick-current {
    font-size: 24px;
  }


}
@media (max-width: 360px) {
  .title {
    padding-top: 125px;
  }
  .header__top {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 16px;
  }
  .menu__list {
    left: 10%;
    right: 10%;
  }
  .product__content-item {
    margin-bottom: 10px;
  }
  .header-slider {
    padding-left: 0;
    padding-top: 0;
  }
  .header__content-btn {
    margin-left: 0;
  }
  .logo__img {
    width: 85%;
  }
}
